body {
    background-color:lightgray;
    font-family: 'Courier New';
    padding: 10px;
    margin: 10px;  
}


/* Fitting the images */
.images,.images2 {
    text-align: center;
}
.eggplant{
    height: 500px;
    width: auto;
}

.salmon {
    height: 500px;
    width: 500px;
}

/* Centering the headings and buttons */
h1, h2, h4 {
    text-align: center;
}

.button {
   text-align: center; 
}


